<div class="entireFooter">
    
    <div class="routingPanel">
        <div class="sector">
            <div class="sectorHeader">Ποίοι είμαστε</div>
            <div class="list-choise" (click)="navigate('history')">ΙΣΤΟΡΙΑ</div>
            <div class="list-choise" (click)="navigate('organization')">ΟΡΓΑΝΩΣΗ</div>
            <div class="list-choise" (click)="navigate('suggestions')">ΠΡΟΤΑΣΕΙΣ</div>
        </div>
        <div class="sector">
            <div class="sectorHeader">Δημοσιεύσεις</div>
            <div class="list-choise" (click)="navigateToPublications('announcement')">ΑΝΑΚΟΙΝΩΣΕΙΣ</div>
            <div class="list-choise" (click)="navigateToPublications('action')">ΔΡΑΣΕΙΣ</div>
        </div>
        <div class="sector">
            <div id="contact" class="sectorHeader" (click)="navigate('contact')">Επικοινωνία</div>
        </div>
    </div>

    <div class="socialPanel">
        <img class="dapLogo" src="assets/logo2-white.svg" alt="logo">
        <div class="socialMedia">
            <img src="assets/facebook.svg" alt="facebook">
            <img src="assets/X.svg" alt="X">
            <img src="assets/insta.svg" alt="insta">
        </div>
    </div>
</div>

<div class="copyright">
    Copyright © 20225 ΔΑΠ - ΝΔΦΚ Πολυτεχνείου Κρήτης
</div>