.adminMainContent{
    margin: 0 2%;
    margin-top: 50px;
}

.mainTitle{
    color: #144E93;
    margin-bottom: 30px;
}

.radio-group {
    display: flex;
    flex-wrap: wrap; /* Enables wrapping of options */
    margin-bottom: 20px;
}

.form-control{
    margin-bottom: 40px;
}

.form-select{
    margin-bottom: 40px;
}

:host ::ng-deep .mat-mdc-radio-button.mat-mdc-radio-checked {
    --mdc-radio-selected-icon-color: #144E93 !important;
    --mdc-radio-selected-focus-icon-color:#144E93 !important;
    --mdc-radio-selected-hover-icon-color:#144E93 !important;
}


.image-container {
    position: relative;
    display: inline-block;
  }

.allImages{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    padding: 10px;
    margin-bottom: 80px;
}

.singleImage{
    max-width: 300px;
    max-height: 300px;
    display: block;
}

.image-container {
    position: relative;
    width: fit-content;
}

.delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    background: rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 55%;
    cursor: pointer;
}

.deletePanel{
    margin-top: 50px;
    margin-bottom: 20px;
}

.deleteText{
    font-weight: 500;
    font-size: large;
}

.myEditor{
    width: 100%;
    height: 500px;
}

.info{
    font-weight: bold;
}

.instructions{
    font-style: italic;
    
}

@media(min-width:992px){
   
    .mainTitle{
        margin-bottom: 40px;
    }

    .radio-group {
        flex-direction: row; /* Place options inline */
    }

    .form-control{
        width: 75%;
    }

    .form-select{
        width: 75%;
    }

    .deleteBtn{
        display: flex;
        justify-content: flex-end;
    }
}