.full-carousel {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slide-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media(min-width:992px){
  .slide-wrapper {
    max-height: 100vh;
  }
  
  .carousel-img {
    max-height: 100vh;
  }

} 