.adminMainContent{
    margin: 0 2%;
    margin-top: 50px;
}
 
.mainTitle{
    color: #144E93;
    margin-left: 5%;
    margin-bottom: 20px;
}

.panelList{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin:0 2%;
    gap: 40px;
    padding: 10px;
    margin-bottom: 80px;
    
}
  
.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #144E93;
    border-radius: 0 4px 0 32px;
}
  
.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}
  
.card1 {
    display: block;
    position: relative;
    width: 300px;
    background-color: white;
    color: #144E93;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    cursor:pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-out;
}

.card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #144E93;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.card1:hover:before {
    transform: scale(21);
    color: white;
}
  
.card1:hover h4 {
    transition: all 0.3s ease-out;
    color:white;
}

.card1:last-of-type {
    margin-bottom: 30px;
}

@media(min-width:992px){
    .mainTitle{
        margin-bottom: 30px;
    }

    .card1:last-of-type {
        margin-bottom: unset;
    }
}