<div class="adminMainContent">
    
    <h4 class="mainTitle">ΔΑΠ-ΝΔΦΚ ΠΟΛΥΤΕΧΝΕΙΟΥ ΚΡΗΤΗΣ</h4>

    <div class="panelList">

        <div class="card1" (click)="navigate('/admin-page/insert-publication')">
            <h4>Εισαγωγή Δημοσίευσης</h4>
            <div class="go-corner">
                <div class="go-arrow"> 
                    →
                </div>
            </div>
        </div>

        <div class="card1" (click)="navigate('/admin-page/edit-publication')">
            <h4>Διαχείρηση Δημοσιεύσεων</h4>
            <div class="go-corner">
                <div class="go-arrow"> 
                    →
                </div>
            </div>
        </div>

        <div class="card1" (click)="navigate('/admin-page/edit-carousel')">
            <h4>Διαχείρηση Αρχικής Σελίδας</h4>
            <div class="go-corner">
                <div class="go-arrow"> 
                    →
                </div>
            </div>
        </div>
    </div>
</div>