<div class="entirePanel">

    <div class="panelHeader">
        <div class="half-line"></div>
        <div class="mainTitle myHeading">Ποίοι Είμαστε</div>
        <div class="half-line"></div>
    </div>

    <div class="optionsPanel">
        <div class="myPanel" (click) = "navigate('history')">
            <img src="assets/flag.svg" alt="history">
            <p class="mainTitle">Η ΙΣΤΟΡΙΑ</p>
        </div>

        <div class="myPanel" (click) = "navigate('organization')">
            <img src="assets/icon-organosi.svg" alt="organosi">
            <p class="mainTitle">Η ΟΡΓΑΝΩΣΗ</p>
        </div>

        <div class="myPanel" (click) = "navigate('suggestions')">
            <img src="assets/protasi-icon.svg" alt="protasi">
            <p class="mainTitle">ΟΙ ΠΡΟΤΑΣΕΙΣ</p>
        </div>
    </div>

    <div class="full-line"></div>

</div>